#female-hand{
    animation: writing 0.8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes writing{
    0%{
        transform: translate(0, 0) rotateZ(-3deg);
    }
    25%{
        transform:  translate(0, 0) rotateZ(3deg);
    }
    50%{
        transform: translate(0, 0) rotateZ(9deg);
    }
    75%{
        transform: translate(0, 0) rotateZ(3deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(-3deg);
    }
}

#heart{
    animation: heartbeat 0.8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes heartbeat{
    0%{
        scale: 1;
        transform: scale(1, 1) translate(0, 0);
    }
    25%{
        scale: 1.5;
        transform: scale(1.025, 1.025) translate(0, 1%);
    }
    50%{
        scale: 2;
        transform:scale(1.05, 1.05) translate(0, 2%);
    }
    75%{
        scale: 1.5;
        transform:scale(1.025, 1.025) translate(0, 1%);
    }
    100%{
        scale: 1;
        transform:scale(1, 1)  translate(0, 0);
    }
}

#male-head{
    animation: male-head 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes male-head{
    0%{
        transform: translate(0, 0) rotateZ(-2deg);
    }
    25%{
        transform:  translate(0, 0) rotateZ(0deg);
    }
    50%{
        transform: translate(0, 0) rotateZ(4deg);
    }
    75%{
        transform: translate(0, 0) rotateZ(0deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(-2deg);
    }
}

#female-head{
    animation: female-head 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes female-head{
    0%{
        transform: translate(0, 0) rotateZ(-5deg);
    }
    25%{
        transform:  translate(0, 0) rotateZ(0deg);
    }
    50%{
        transform: translate(0, 0) rotateZ(5deg);
    }
    75%{
        transform: translate(0, 0) rotateZ(0deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(-5deg);
    }
}

#left-doctor-clipboard{
    animation: left-clipboard 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes left-clipboard{
    0%{
        transform: translate(0, 0) rotateZ(0deg);
    }
    25%{
        transform:  translate(0, -3%) rotateZ(5deg);
    }
    50%{
        transform: translate(0, -5%) rotateZ(10deg);
    }
    75%{
        transform: translate(0, -3%) rotateZ(5deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(0deg);
    }
}

#right-doctor-hand{
    animation: right-clipboard 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes right-clipboard{
    0%{
        transform: translate(0, 0) rotateZ(0deg);
    }
    25%{
        transform:  translate(5%, -2%) rotateZ(-5deg);
    }
    50%{
        transform: translate(10%, -4%) rotateZ(-10deg);
    }
    75%{
        transform: translate(5%, -2%) rotateZ(-5deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(0deg);
    }
}

#left-doctor-head{
    animation: left-doctor-head 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes left-doctor-head{
    0%{
        transform: translate(0, 0) rotateZ(-2deg);
    }
    25%{
        transform:  translate(0, 0) rotateZ(0deg);
    }
    50%{
        transform: translate(0, 0) rotateZ(4deg);
    }
    75%{
        transform: translate(0, 0) rotateZ(0deg);
    }
    100%{
        transform: translate(0, 0) rotateZ(-2deg);
    }
}