html{
    scroll-behavior: smooth
}

.vert-rule{
    border-left:4px solid rgba(0, 0, 0, 0.385);
    height:1.25rem;
    margin-left: 50%;
}

.bg-teal{
    background-color: #20c997;
}

.bg-cyan{
    background-color: #287bb5;
}

.bg-orange{
    background-color: #f8765f;
}

.hero{
    height: 80vh;
}

#text-hero{
    font-size: 2.6rem;
}

.img-profile{
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: 75px auto;
}

.svg-area{
    height: 80%;
    width: 80%;
    margin-top: 20px;
    border-radius: 500px;
    background-color: white;
}

.hero-svg{
    width: 80%;
}

.text-orange{
    color: #f8765f;
}